#bs-InsertMagic-textarea-syntax textarea.x-form-textarea {
	background: none repeat scroll 0 0 #FFFFFF;
	color: #656565;
	font-family: 'Courier New',monospace;
	font-size: 14px;
	font-weight: bold;
	padding: 3px;
}

#bs-InsertMagic-panel-desc ol{
	list-style: decimal outside none;
}

#bs-InsertMagic-panel-desc ul{
	list-style-type: square;
}

#bs-InsertMagic-dlg-window-body {
	background-color: #FFF;
}

#bs-InsertMagic-textarea-syntax {
	background-color: #EFF4FF;
}

#bs-InsertMagic-panel-desc {
	background-color: #F4F4F4;
}

a#bs-editbutton-insertmagic {
	/*@embed*/
	background-image: url(images/button_insert-magicwords.png);
}

i.mce-i-bsmagic {
	/*@embed*/
	background-image: url(images/code.png);
}