/**
 * This file contains style definitions for MediaWiki classes and ids as well as
 * default element stylings.
 */

body {
    color: Black;
    margin: 0;
    padding: 0;
    background-color: transparent !important;
    background-image: none !important;
    font-size: 10pt;
}

a {
    color: #4567A7 !important;
    background: none !important;
    padding: 0 !important;
    text-decoration: none;
}

a:visited {
	color: #4567A7;
}

a:active {
	color: #4567A7;
}

a:hover {
	text-decoration: underline;
	color: #4567A7;
}

a.stub {
	color: #772233;
}

a.new, #p-personal a.new {
	color: #972802 !important;
}

a.new:visited, #p-personal a.new:visited {
	color: #a55858;
}

img {
	border: none;
	vertical-align: middle;
}

/* @media screen, projection { */
	p {
		margin: 1em 0 .5em 0;
		line-height: 1.5em;
	}
/* } */

p img {
	margin: 0;
}

hr {
	height: 1px;
	color: #aaa;
	background-color: #aaa;
	border: 0;
	margin: .2em 0 .2em 0;
}

.editsection {
    display:none !important;
    visibility: hidden;
}

ul {
    line-height: 1.5em;
    list-style-type: square;
    padding: 0;
    margin-left: 20px;
}

ol {
	line-height: 1.5em;
	margin: .3em 0 0 3.2em;
	padding: 0;
	list-style-image: none;
}

li {
	margin-bottom: .1em;
}

dt {
	font-weight: bold;
	margin-bottom: .1em;
}

dl {
	margin-top: .2em;
	margin-bottom: .5em;
}

dd {
	line-height: 1.5em;
	margin-left: 2em;
	margin-bottom: .1em;
}

abbr, acronym, .explain {
	border-bottom: 0.1mm dotted black;
	color: black;
	background: none;
	cursor: help;
}

q {
	font-family: Times, "Times New Roman", serif;
	font-style: italic;
}

code {
	background-color: #f9f9f9;
}

pre {
	padding: 1em;
	border: 1px dashed #2f6fab;
	color: black;
	background-color: #f9f9f9;
	line-height: 1.1em;
}

.mw-warning {
	margin-left: 50px;
	margin-right: 50px;
	text-align: center;
}

/* images */
div.floatright, table.floatright {
	clear: right;
	float: right;
	position: relative;
	margin: 0 0 .5em .5em;
	border: 0;
}

div.floatright p {
    font-style: italic;
}

div.floatleft, table.floatleft {
	float: left;
	clear: left;
	position: relative;
	margin: 0 .5em .5em 0;
	border: 0;
}

div.floatleft p {
    font-style: italic;
}

/* thumbnails */
div.thumb {
    margin-bottom: .5em;
    border-style: solid;
    border-color: white;
    width: auto;
}
div.thumbinner {
    border: 0.1mm solid #ccc;
    padding: 3px !important;
    background-color: #f9f9f9;
    font-size: 94%;
    text-align: center;
    overflow: hidden;
}

html .thumbimage {
    border: 0.1mm solid #ccc;
}

html .thumbcaption {
    border: none;
    text-align: left;
    line-height: 1.4em;
    padding: 3px !important;
    font-size: 94%;
}

div.magnify {
	float: right;
	border: none !important;
	background: none !important;
}

div.magnify a, div.magnify img {
	display: block;
	border: none !important;
	background: none !important;
}

div.tright {
	clear: right;
	float: right;
	border-width: .5em 0 .8em 1.4em;
}

div.tleft {
	float: left;
	clear: left;
	margin-right: .5em;
	border-width: .5em 1.4em .8em 0;
}

.center {
    text-align: center;
    width: 100%;
}

.center * {
    margin-left: auto;
    margin-right: auto;
}

.hiddenStructure {
	display: none;
	speak: none;
}

img.tex {
	vertical-align: middle;
}

span.texhtml {
	font-family: serif;
}

.bluebox {
    border: 0.1mm solid #608E91;
    margin: 1em 0em 1em 0em;
    empty-cells:show;
    padding:3px;
    background-color: #EFF6F9;
}

.box-green {
     margin: 0;
     margin-bottom:10px;
     border: 0.1mm solid #237E14;
     padding: .3em .6em 0em .6em;
     background-color: #DEFEBB;
}

.box-beige {
     margin: 0;
     margin-bottom:10px;
     border: 0.1mm solid #000000;
     padding: .3em .6em 0em .6em;
     background-color: #E0B978;
}

#siteSub {
	display: none;
}

#globalWrapper {
  background: none !important;
}


#bodyContent {
	width: auto !important;
}

.firstHeading {
  font-weight: normal;
}

.firstHeading, h1, h2, h3, h4, h5, h6 {
	background: none;
	text-decoration: none;
	border-bottom: 0.2mm solid #aaaaaa;
	page-break-after: avoid;
}

h1 {
	font-size: 16pt; font-weight: normal;
}

h2 {
	font-size: 14pt; font-weight: normal;
}

h3 {
	font-size: 13pt;
	font-weight:normal;
}

h4 {
	font-size: 12pt;
}

h5 {
	font-size: 12pt;
}

h6 {
	font-size: 12pt;
}

#p-personal {
  display: none !important;
  visibility: hidden !important;
}

#column-one  {
  display: none !important;
  visibility: hidden !important;
}

#column-content #content-bg-stretch {
  margin: 0 0 0 0 !important;
}

#content-bg-stretch #content {
  left: 0 !important;
  margin: 0 !important;
}

#content-bg-stretch {
  border:0;
  margin:0;
  padding: 0;
  background: none;
}

table {
    border: none;
    border-collapse: collapse;
    border-spacing: 0;
    font-size: 100%;
    color: black;
    background-color: white; /* we don't want the bottom borders of <h2>s to be visible through floated tables */
}

.wikitable {
    margin: 1em 1em 1em 0;
    background: #f9f9f9;
    border: 0.1mm #aaa solid;
    border-collapse: collapse;
    color: black;
}

.wikitable th, .wikitable td {
    border: 0.1mm #aaa solid;
    padding: 0.2em;
}

.wikitable th {
    background: #CDCDCD;
    text-align: center;
}
.wikitable caption {
    font-weight: bold;
}

.contenttable,
.contenttable-black,
.contenttable-blue,
.contenttable-darkblue {
  width: 100% !important;
  border: 0.1mm #ccc solid;
  border-spacing: 0;
}

.contenttable td,.contenttable tr {
  border: 0.1mm #ccc solid;
  padding: 0 4px 0 4px;
  border-spacing: 0;
}


.contenttable, .sortable {
    border: 0.1mm solid #CCCCCC;
    border-collapse: collapse;
    border-spacing: 0;
}

.contenttable td, .contenttable tr, .sortable td, .sortable tr {
    border: 0.1mm solid #CCCCCC;
    border-collapse: collapse;
    border-spacing: 0;
    padding: 0 4px;
}

.contenttable th, .sortable th {
    background-color: #E0E0E0;
    border: 0.1mm solid #CCCCCC;
    padding: 0 4px;
}

.contenttable-black td, .contenttable-black tr {
    border: 0.1mm solid #000000;
    border-collapse: collapse;
    border-spacing: 0;
    padding: 4px;
}
.contenttable-black th {
    background-color: #E0E0E0;
    border: 0.1mm solid #000000;
    padding: 4px;
}
.contenttable-blue {
    border: 0.1mm solid #B1B9CF;
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
}
.contenttable-blue td, .contenttable-blue tr {
    border: 0.1mm solid #B1B9CF;
    border-collapse: collapse;
    border-spacing: 0;
    padding: 4px;
}
.contenttable-blue th {
    background-color: #EFF3F9;
    border: 0.1mm solid #B1B9CF;
    color: #3E5389;
    padding: 4px;
}
.contenttable-darkblue {
    border: 0.1mm solid #B1B9CF;
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
}
.contenttable-darkblue td, .contenttable-darkblue tr {
    border: 0.1mm solid #B1B9CF;
    border-collapse: collapse;
    border-spacing: 0;
    padding: 4px;
}
.contenttable-darkblue th {
    background-color: #3E5389;
    border: 0.1mm solid #B1B9CF;
    color: #FFFFFF;
    padding: 4px;
}

.toclevel-1, .toclevel-2, .toclevel-3 {
  list-style: none;
}

#toc, .toc, .mw-warning {
	border: 0.1mm solid #aaa;
	background-color: #f9f9f9;
	padding: 5px;
	font-size: 95%;
	clear: both;
}

#toc h2, .toc h2 {
	display: inline;
	border: none;
	padding: 0;
	font-size: 100%;
	font-weight: bold;
}

#toc #toctitle, .toc #toctitle, #toc .toctitle, .toc .toctitle {
	text-align: center;
}
#toc ul, .toc ul {
	list-style-type: none;
	list-style-image: none;
	margin-left: 0;
	padding-left: 0;
	text-align: left;
}
#toc ul ul, .toc ul ul {
	margin: 0 0 0 2em;
}
#toc .toctoggle, .toc .toctoggle {
	font-size: 94%;
}

#toc a:after, .toc a:after {
	content: leader('.') target-counter(attr(href), page);
}

/*
Erzeugt einen Fehler bei den Seitenzahlen im Inhaltsverzeichnis
a[href]:after {
	display:none;
}
*/

/* Galleries */
li.gallerybox {
	vertical-align: top;
	background-color: #f9f9f9;
	border: solid 0.2mm white;
	display: -moz-inline-box;
}

ul.gallery, li.gallerybox {
	display: inline-block;
	zoom: 1;
	*display: inline;
}

ul.gallery {
	margin: 2px;
	padding: 2px;
	display: block;
}

li.gallerycaption {
	font-weight: bold;
	text-align: center;
	display: block;
	word-wrap: break-word;
}

li.gallerybox div.thumb {
	text-align: center;
	border: 0.2mm solid #ccc;
	margin: 2px;
}

div.gallerytext {
	overflow: hidden;
	font-size: 94%;
	padding: 2px 4px;
	word-wrap: break-word;
}
div.patrollink {
	display: none;
}

/* Select box hack START */
 select > option {
	display:none;
}

select > option[selected] {
	display: inline-block;
}
/*  Select box hack END */