#bs-widget-tab {
	/* @embed */
	background: url('images/bs-star-white.png') no-repeat;
	cursor: pointer;
	text-indent: -9999px;
	overflow: hidden;
}

#bs-widget-tab.hidden {
	/* @embed */
	background: url('images/bs-star-orange.png') no-repeat;
}

#bs-flyout.hidden {
	display: none;
}

.bs-widget-head {
	cursor: pointer;
}

h4#bs-flyout-content-widgets-header{
	text-transform: uppercase;
}
#bs-widgetbar-edit:hover{
	color: rgb(205, 223, 242);
}

#bs-flyout{
	display: none;
}