a.bs-button-32 {
	display: inline-block;
	width: 32px;
	height: 32px;
	border: 1px solid #ebebeb;
	background-color: #f0f0f0;
	overflow: hidden;
	text-indent: -9999px;
}

a.bs-button-32:hover {
	/*border-color: #CCF;*/
	background-color: #e2e2e2;
}

#toolbar {
	display:none;
	position: absolute;
	left: -9999px;
}

#bs-extendededitbar {
	background-color: #ebebeb;
	border: 1px solid #9e9e9e;
	line-height: 0;
}

#bs-extendededitbar div.group {
	display: inline-block;
	margin: 2px;
	border: 1px solid #cfcfcf
}

#mw-editbutton-bold {
	/*@embed*/
	background-image: url(images/button_format-bold.png);
}

#mw-editbutton-italic {
	/*@embed*/
	background-image: url(images/button_format-italic.png);
}

#mw-editbutton-headline {
	/*@embed*/
	background-image: url(images/button_format-h2.png);
}

#mw-editbutton-link {
	/*@embed*/
	background-image: url(images/button_internal-link.png);
}

#mw-editbutton-extlink {
	/*@embed*/
	background-image: url(images/button_external-link.png);
}

#mw-editbutton-strike {
	/*@embed*/
	background-image: url(images/button_format-struck.png);
}

#mw-editbutton-image {
	/*@embed*/
	background-image: url(images/button_filelink.png);
}

#mw-editbutton-media {
	/*@embed*/
	background-image: url(images/button_medialink.png);
}

#mw-editbutton-signature {
	/*@embed*/
	background-image: url(images/button_signatur.png);
}


/*BlueSpice buttons*/
#bs-editbutton-linebreak {
	/*@embed*/
	background-image: url(images/button_break.png);
}

#bs-editbutton-gallery {
	/*@embed*/
	background-image: url(images/button_gallery.png);
}

#bs-editbutton-redirect {
	/*@embed*/
	background-image: url(images/button_redirect.png);
}

#bs-editbutton-comment {
	/*@embed*/
	background-image: url(images/button_hidden-comment.png);
}

#bs-editbutton-strike {
	/*@embed*/
	background-image: url(images/button_format-struck.png);
}

#bs-editbutton-table {
	/*@embed*/
	background-image: url(images/button_table.png);
}
