a#bs-editbutton-insertcategory {
	/*@embed*/
	background-image: url(images/button_insert-category.png);
}
i.mce-i-bsinsertcategory {
	/*@embed*/
	background-image: url(images/button_insert-category-16px.png);
}

.bs-insertcategory-hint {
	padding: 3px;
	background-color: #e3e5eb;
}