a#bs-editbutton-insertfile {
	/*@embed*/
	background-image: url(images/button_insert-file.png);
}

a#bs-editbutton-insertimage {
	/*@embed*/
	background-image: url(images/button_insert-img.png);
}

i.mce-i-bsfile {
	/*@embed*/
	background-image: url(images/button_insert-file-16px.png);
}

i.mce-i-image {
	/*@embed*/
	background-image: url(images/button_insert-img-16px.png);
}

i.mce-i-image:before {
	content: "";
}

td.bs-if-cell {
	vertical-align: middle;
}

li.x-boundlist-item.indent-1 {
	text-indent: 10px;
}

.bs-ve-image.thumb.center {
	width: auto;
}

.bs-insertfile-icon {
	width: 48px;
	height: 48px;
	background-position: center center;
	background-repeat: no-repeat;
}