#pasteImage{
    display: none;
    height: 108px;
    z-index: 1;
    margin: 3px;
}
#images{
    height:102px;
    padding: 0px 2px;
    float: none !important;
    position: absolute;
}
#images img{
    padding: 5px;
}
#images > div{
    position: relative;
    border: #c4d7ef solid 2px;
    height: 104px;
}
.selectedImg{
    border: #ffae00 solid 4px !important;
    height: 100px !important;
}
.delete_img{
    background: url("../images/bs-delete.png") no-repeat !important;
    width: 16px !important;
    height: 16px !important;
    cursor: pointer !important;
    position:absolute !important;
    right: 0 !important;
    bottom: 0 !important;
    display: none;
}
#pasteImageApplet{
    float:left;
    border: #c4d7ef solid 4px;
    width: 100px !important;
    height: 100px !important;
    border-style: dotted;
    -moz-border-radius:10px; /* Firefox */
    -webkit-border-radius:10px; /* Safari, Chrome */
    -khtml-border-radius:10px; /* Konqueror */
    border-radius:10px; /* CSS3 */
}
#images > div{
    float:left;
}
#pastedImages{
    float: left;
    width: 57%;
    overflow:hidden;
    height: 108px;
    position: absolute;
    margin-left: 113px;
}
#images > div > img{
    max-height: 90px;
    vertical-align: middle;
}

#pasteImage_loader{
    display: none;
    background: url("../images/bs-ajax-loader-bar-blue.gif");
    width: 220px;
    height: 19px;
}
#pasteImage_left, #pasteImage_right{
    height: 108px;
    width: 22px;
    z-index: 100;
    position: relative;
}
#pasteImage_right{
    float: right !important;
}
#pasteImage_left{
    float: left;
    background-image : url("../images/pasteimagenav-left.png");
}
#pasteImage_right{
    background-image : url("../images/pasteimagenav-right.png");
}

