#bs-editbutton-checklist {
	/*@embed*/
	background-image: url(images/button_format-checkbox.png);
}

i.mce-i-bscheckbox {
	/*@embed*/
	background-image: url(images/button_format-checkbox-16px.png);
}

.bs-insertcheckboxitem-hint {
	background-color: #DDDDDD;
}